/* *************************************************************************
 *
 *  Footer element
 *
**************************************************************************** */
footer {
  background-color: hsl(217, 19%, 27%);
  width: 100%;
  margin: 0 auto;

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8rem auto 0;
    padding: 2rem 1rem;
  }

  .external-links {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--light-gray);
    }
  }

  nav {
    margin-top: 4rem;

    ul {
      justify-content: right;
    }
  }
}
