/* **********************************************************
 *
 *  Portfolio Section, Cards, Page
 *
************************************************************* */
section#portfolio {

  .project-card {
    display: flex;
    flex-direction: column;

    p {
      flex-grow: 1;
    }
  }
  
  span.vlink {
    color: var(--secondary-text-color);
  }
}
