/* **********************************************************
 *
 *  Typography elements
 *
************************************************************* */


/* Headers
************************** */
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.25rem !important;
  text-align: center;
}

h3 {
  font-size: 1.25rem !important;
}

h4 {
  font-size: 1.5rem !important;

  + * {
    margin-top: 1rem !important;
  }
}

h5 {
  font-size: 1.25rem !important;
}

/* h2, h3, h4 {
  margin-top: 2rem;
} */

p {
  margin-top: 1.25rem;
}


/* inline elements
************************** */
em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.light {
  font-weight: 100;
}

u,
.underline {
  text-decoration: underline;
}

p {

  & > a {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
