/* **********************************************************
 *
 *  Glass Neon Card Styles
 *
************************************************************* */
.glass-card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* min-height: 100vh; */
  /* margin: 100px 0 0 0; */
  /* background: #343434; */
  /* background: linear-gradient(180deg, #343434 0%, #252525 100%); */
}

.card {
  width: 1020px;
  height: auto;
  border-radius: 16px;
  background: #191919aa;
  background: linear-gradient(180deg, #292929aa 0%, #191919cc 50%);
  backdrop-filter: blur(4px);
  box-shadow: inset 0 2px 2px 0 #e7c4a088,
  inset 0 -2px 2px 0 #0003;
  color: #ccc;
  text-shadow: 1px 1px 3px #333a;
  padding: 24px 42px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* padding-right: 42px; */
  /* margin: 50px auto 0; */
  /* position: relative; */

  h2,
  p {
    margin: 8px 0;
  }
  
  h2 {
    font-size: 1.1em;
  }

  .button {
    width: fit-content;
    border-radius: 100px;
    padding: 8px 36px;
    margin-top: 12px;
    background: #fff2;
    box-shadow: 
      0 0 0 1px #fff3, 
      inset 120px 0 100px -100px #000c, 
      0 0 0 0 #fff1;
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out;

    &:hover {
      box-shadow: 
        0 0 0 1px #fff3, 
        inset 200px 0px 100px -100px #000a, 
        -4px 0 8px 2px #fff2;
    }
  }
}

.accents {
  user-select: none;
  pointer-events: none;

  .top-light {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0; 
    margin: auto;
    width: 80%;
    height: 6px;
    border-radius: 6px;
    background: #fffef9;
    box-shadow: 
      0 0px 1px 1px #ffc78e,
      0 1px 2px 1px #ff942977,
      0 2px 6px 1px #e98b2d77,
      0 4px 12px 0px #ff9e3d99,
      0 12px 20px 12px #ff800044;
  }

  .light {
    --bgref: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 487 487'%3E%3Ccircle cx='243' cy='243.5' r='233' style='fill:none; opacity:.1; stroke:%23aaa; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3Ccircle cx='243.5' cy='243.5' r='243' style='fill:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Ccircle cx='243' cy='243.5' r='222' style='fill:none; stroke:%23111; stroke-linecap:round; stroke-miterlimit:10;'/%3E%3Cpath d='m10,243.5C10,114.82,114.32,10.5,243,10.5' style='fill:none; stroke:%23ddd; stroke-linecap:round; stroke-miterlimit:10; stroke-width:18px;'/%3E%3C/svg%3E");
    position: absolute;
    left: 16px;
    top: 16px;
    margin: 0 auto;
    width: 164px;
    height: 164px;
    z-index: -1;
    background-image: var(--bgref);
    animation: rotate360 22s linear infinite;

    &.alt {
      right: 0;
      top: 44px;
      left: auto;
    }
    
    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: var(--bgref);
      filter: blur(3px);
      scale: 1.01;
    }
        
    &::after {
      filter: blur(8px);
    }
        
    &.sm {
      bottom: -24px;
      right: 32px;
      left: auto;
      top: auto;
      width: 100px;
      height: 100px;
      animation: rotate360 18s linear -10s infinite;

      &.alt {
        bottom: -16px;
        left: 44px;
        right: auto;
      }
    }
  }

  /* top: -42px; */
}

@keyframes rotate360 { to {
  rotate: 360deg;}
}

@media screen and ( max-height: 600px ) {
  
  .card {
    height: fit-content !important;  
        
    img {
      display: none;
    }
  } 

  .acc-card {
    height: 180px !important; 
  }

  .card,
  .accents {
    top: 30%;
  }

  .accents {

    .light {
      top: 124px;
      bottom: 0;

      &.sm {
        top: 42px;
      }
    }
  }
}
