/* **********************************************************
 *
 *  Header element
 *
************************************************************* */
header {
  /* margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--white-alt-6); */
  background: #191919aa;
  background: linear-gradient(180deg, #292929aa 0%, #191919cc 50%);
}

.logo {
  
}