/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————————
  @Page: Resources Page
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————— */



/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————————
  @Section: Resources Section (located in Home page)
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––————————————— */
#resources {
  background-color: var(--white-alt-6);
  color: var(--black-alt-1)
}
